mat-card {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
}

mat-form-field {
  margin-right: 10px;
  width: 100%;
}

.addbtn {
  margin-top: 10px;
}

mat-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.strikethrough {
  text-decoration: line-through !important;
  color: grey !important;
}
